//FORMATO CONTENEDOR FOOTER//

.footer__formato {background-color: $quicksilver;
                  display: flex;
                  align-items: center;}

.footer__imagen { width: 250px;
                padding-top: 30px;
                padding-bottom: 30px;
                margin: auto; }