//FORMATO SECCIÓN 4//
.seccion4__formato {
    background-color: $rosado;
    display: flex;
    align-items: center;
    height: 300px;
}

//TEXTO SECCION 1//

.seccion4__texto {
    color:white;
    margin: auto;
    font-family: $raleway;
    font-weight: bold;
}