// COLOR SCHEME//

//WHITE COLORS//

$white: #fff;
$snow:#FAFAFA;
$quicksilver:#A0A0A0;

// PINK COLORS//

$rosado:#E56353;
$rosadoclaro:#E98F72;
$rosadoblanco:#F0A9A1;

// GRAY COLORS//
$granitegray:#686963;
$taupegray:#91918D;
$gray:#BABAB8;



